# Ignore build artifacts
/node_modules/
/dist/
/tmp/
*.log

# Ignore editor config files
.vscode/
.idea/

### VS Code ###
.vscode/
# Angular cache
/.angular/cache/

# Vite dependencies
vite/deps/

# TypeScript build info
.tsbuildinfo

# Angular compiler database files
angular-compiler.db
angular-compiler.db-lo