<div class="container py-5 background-image-container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-10 text-center">
        <h4 class=" text-warning mb-4">Because Every Life Matters</h4>
        <p class="fs-5 text-muted mb-3">
          Every year, countless animals are abandoned, left to survive on the streets, 
          or languishing in shelters, waiting for a second chance. At Tails & Paws, 
          we believe that no animal should suffer invisibly or alone.
        </p>
        <p class="fs-5 text-muted mb-3">
          Adopting a pet doesn’t just save their life.It transforms yours! 
          A wagging tail or a gentle purr can fill your home with unconditional love and joy.
           Each adoption is a small act of kindness that makes a big difference, not just 
           for the pet you welcome into your home, but for the world we all share.
        </p>
        <p class="fs-5 text-muted mb-3">
          Behind every abandoned animal is a story of resilience and hope.
           Together, we can turn sadness into joy, loneliness into companionship, and helplessness into hope.
        </p>
        <p class="fs-5 text-muted mb-4">
          What are you waiting for? Open your heart and your home.
        </p>
      </div>
    </div>
  </div>
  
