<div class="container d-flex justify-content-end align-items-center background-image-container" style="height: 100vh;">
    <div class="text-box text-right">
      <h2 class="title">Adopt a Friend, Change a Life...</h2>
      <p class="description">
        At <strong>Tails and Paws</strong>, we believe every pet deserves a loving home. 
        By adopting, you’re not just gaining a pet you’re gaining a lifelong friend. 
        Meet your new best friend today and bring joy to both their life and yours!
      </p>
    </div>
  </div>